body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

/*Part 5: Stylize Buttons: */
div button {
	background-color: rgba(255, 255, 0, 0.624);
	font-size: 25px;
	color: cadetblue;
	border-radius: 10px;
	width: 45%;
	border: rgb(97, 122, 59) solid;
}

div button:active {
	background: rgb(208, 208, 28) ;
}